<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <form id="myForm" method="post" enctype="multipart/form-data">

            Files: <input type="file" id="files" name="file[]" multiple><br />

            <div id="selectedFiles"></div>

            <input type="submit">

            
        </form>
   

        <form action="{{ url_for('dec') }}" method="post" style="margin-top: 6rem;">
            <h2 style="color: white;">playground !</h2>
            <small style="color: white;">set your own values</small>
            
            <div class="row">
                
                <div class="col" style="padding-top: 2rem;">
                    <center>
                        <select class="form-control" id="exampleFormControlSelect1" name="tb1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>

                          <select class="form-control" id="exampleFormControlSelect1" name="tb2">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>

                          <select class="form-control" id="exampleFormControlSelect1" name="tb3">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>

                          <select class="form-control" id="exampleFormControlSelect1" name="tb4">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>

                          <select class="form-control" id="exampleFormControlSelect1" name="tb5">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>

                          <select class="form-control" id="exampleFormControlSelect1" name="tb6">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                    </center>
                </div>
                

                
                    <!-- learning rate, momentum, dampning, weight decay -->

            </div>
            <input class="btn btn-outline-primary" type="submit" style="margin-top: 2rem;">
        </form>

{% if pred is defined%}                
{% for key,value in pred.items() %}
<h1 style="color: black;">{{value}}</h1>
{% endfor %}
{% endif %}

        <script>
            var selDiv = "";

            document.addEventListener("DOMContentLoaded", init, false);

            function init() {
                document.querySelector('#files').addEventListener('change', handleFileSelect, false);
                selDiv = document.querySelector("#selectedFiles");
            }

            function handleFileSelect(e) {

                if (!e.target.files) return;

                selDiv.innerHTML = "";

                var files = e.target.files;
                for (var i = 0; i < files.length; i++) {
                    var f = files[i];

                    selDiv.innerHTML += f.name + "<br/>";

                }

            }
        </script>
        
</body>
</html>